@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

:root{
    --primary : #2d88ff;
    --dark : #18191a;
    --semi-dark : #242526;
    --semi-dark-light : #3a3b3c;
    --semi-dark-thinlight : #2d3033;
    --text : #c9cbcf;
    --noti-danger : #f02849;
    --pass : #45bd62;
    --warning : #f7b928;
}
*{
    padding : 0px;
    margin : 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing : border-box;

}

body{
    background-color: var(--dark);
    color: var(--text);
}

.top{
    background-color: var(--semi-dark);
    height:50px;
    border-bottom: 1px solid var(--text);
    display: flex;
}

.topleftbox{
    display: flex;
    width: 20%;
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px 5px;
}
.searchbox{
    margin:5px 5px;
    border-radius: 15px;
    background-color: var(--semi-dark-light);
    display: flex;
    align-items: center;
    width:90%;
}
.searchbox i{
    padding-left: 10px;
}
.searchbox .inputtext{
    height: 40px;
    width: 90%;
    background-color: var(--semi-dark-light);
    border-radius: 15px;
    border:none;
    text-align: left;
    padding-left: 5px;
    color:var(--text)
}
.searchbox .inputtext:focus-visible{
    outline: none;
}
.topmiddlebox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 10px;
    width: 55%;
}
.topmiddlebox .home-icon{
    padding-top: 16px;
    padding-bottom: 10px;
    width:20%;
    border-bottom: 5px solid var(--primary);
    color : var(--primary);
    text-align: center;
}
.topmiddlebox .other-icon{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.topmiddlebox .other-icon i{
    margin: 0px 5px;
    padding-top: 10px;
    padding-bottom:10px;
    width: 25%;
    border-radius: 15px;
    text-align: center;
}
.topmiddlebox i:hover{
    background-color: var(--semi-dark-light);
}
.other-icon i span{
    font-size: 12px;
    padding:2px 5px;
    border-radius: 10px;
    position:relative;
    bottom:10px;
    right:5px;
    background-color: var(--noti-danger);
}
.toprightbox{
    width:25%;
    display: flex;
}
.toprightbox-profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.toprightbox-profile img{
    width:40px;
    height:40px;
    border-radius: 50%;
    margin:5px;
}
.toprightbox-profile span{
    color:var(--text);
    padding-left: 5px;
}
.toprightbox-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    margin-left: 5px;
}
.toprightbox-button i{
    width:40px;
    height:40px;
    border-radius:50%;
    text-align: center;
    line-height: 40px;
    background-color: var(--semi-dark-thinlight);
    margin:5px;
}
.toprightbox-button i:hover{
    background-color: var(--semi-dark-light);
}
.middle{
    display: flex;
}
.middle .col{
    height : 100vh;
    overflow-y: scroll;
}
.leftbox{
    width:20%;
    padding-left: 15px;
    padding-top : 10px;
}
.lefttopone{
    display: flex;
    width : 100%;
    justify-content: left;
    align-items: center;
    margin : 10px 0px;
}
.lefttopone img{
    width:40px;
    height:40px;
    border-radius: 50%;
}
.middle p{
    color : var(--text);
    padding-left: 10px;
}
.lefttopone:hover{
    background-color: var(--semi-dark-light);
    border-radius: 15px;
}
.lefttoptwo{
    display: flex;
    width:100%;
    justify-content: left;
    align-items: center;
    margin : 10px 0px;
}
.lefttoptwo i{
    width : 40px;
    height : 40px;
    text-align: center;
    line-height: 40px;
}
.lefttoptwo:hover{
    background-color: var(--semi-dark-light);
    border-radius: 15px;
}
.leftbottomone{
    display: flex;
    justify-content: space-between;
    padding-top : 5px;
}
.leftbottomone h3{
    padding : 10px 0px;
}
.leftbottomone .edit{
    color : var(--primary);
    font-weight: 100;
    padding-right : 10px;
    padding-left: 10px;
    border-radius: 15px;
}
.leftbottomone .edit:hover{
    background-color: var(--semi-dark-light);
}
.leftbottomtwo{
    display : flex;
    justify-content: left;
    align-items: center;
    margin : 10px 0px;
    border-radius: 15px;
}
.leftbottomtwo img{
    width : 40px;
    height : 40px;
    border-radius: 50%;

}
.leftbottomtwo i{
    width : 40px;
    height : 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}
.leftbottomtwo:hover{
    background-color: var(--semi-dark-light);
}
.mainbox{
    width : 55%;
    margin : 0px 10px;
}
.myday{
    display: flex;
    justify-content: space-between;
    margin : 10px 20px 10px 10px;
}
.mydayphoto{
    width : 20%;
    height : 30vh;
    border-radius : 15px;
    margin : 0px 10px 0px 0px;
    position : relative;
}
.mydayicon{
    display : flex;
    flex-direction: column;
    justify-content:flex-end;
    background-image: url("../photo/sly\ \(6\).jpg") !important;
    background-size: cover;
    position : relative;
}
.mydayicon i{
    font-size: 40px;
    width : 40px;
    height : 40px;
    border-radius: 50%;
    background-color: var(--primary);
    margin : auto;
    position : absolute;
    bottom : 30px;
    left :30%;
}
.mydayicon p{
    text-align: center !important;
}
.myday p{
    color : var(--text);
    padding-bottom: 10px;
    font-weight : bold;
}
.mydayphoto img{
    width : 50px;
    height : 50px;
    border-radius: 50%;
    border : 5px solid var(--primary);
    position : absolute;
    left : 15px;
    top : 15px;

}
.mydayphoto{
    display : flex;
    flex-direction: column;
    justify-content: end;
    background-image: url("../photo/sly\ \(7\).jpg");
    background-size: cover;
}
.mydayphoto p{
    text-align: left;
    padding-left : 10px;
}
.mydayphoto:last-child i{
    font-size: 40px;
    width : 40px;
    height : 40px;
    border-radius: 50%;
    position : absolute;
    right : -20px;
    top : 40%;
    background-color: var(--semi-dark-light);
    color : var(--text);
}
.yourmind{
    margin: 20px 5vw;
    background-color: var(--semi-dark-thinlight);
    padding : 15px;
    border-radius: 15px;
}
.yourmindtop{
    display: flex;
    padding-bottom : 10px;
}
.yourmindtop img{
    width : 50px;
    height : 50px;
    border-radius: 50%;
    margin-right : 10px;
}
.yourmindtop .yourmindtopinput{
    width : 90%;
    border-radius: 50px;
    background-color: var(--semi-dark-light);
    padding-left: 20px;
    color : var(--text);
    border : none;

}
.yourmindbottom{
    display: flex;
    padding-top : 10px;
    justify-content: space-between;
    margin-left: 20px;
    margin-right:5px;
}
.yourmindbottomone{
    display: flex;
    margin : 0px 10px;
}
.yourmindbottomone:first-child i{
    color : var(--noti-danger);
}
.yourmindbottomone:last-child i{
    color : var(--warning);
}
.yourmindbottomone:nth-child(2) i{
    color : var(--pass);
}
.room{
    display: flex;
    justify-content: space-between;
    margin: 20px 5vw;
    background-color: var(--semi-dark-thinlight);
    padding : 10px;
    border-radius: 15px;
    position : relative;

}
.roomone{
    display: flex;
    align-items: center;
    border : 1px solid var(--primary);
    border-radius: 40px;
    padding:0 20px 0 20px;
    margin-right: 20px;
    margin-left: 5px;
}
.roomone i{
    color : rgb(165, 64, 165);
}
.roomone p{
    color : var(--primary);
}
.room img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.room i:last-child{
    font-size: 50px;
    border-radius: 50%;
    position : absolute;
    right : 30px;
    bottom : 5px;
    z-index: 2;
    background-color: var(--semi-dark-thinlight);
}
.newsfeed{
    margin: 20px 5vw;
    background-color: var(--semi-dark-thinlight);
    padding : 15px;
    border-radius: 15px;
}
.newsfeedtop{
    display: flex;
    align-items: center;
}
.newsfeedtop img{
    width : 40px;
    height : 40px;
    border-radius: 50%;
}
.newsfeedtop-rbottom{
    display: flex;
    align-items: center;
}
.newsfeedtop-rbottom i{
    margin-left: 5px;
}
.newsfeedtext{
    margin-top: 10px;
    text-align: justify;
}
.newsfeedreact{
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
}
.newsfeedreact p{
    margin-left : 10px;
}
.newsfeedreact i:first-child{
    color : var(--warning);
}
.newsfeedreact i:nth-child(2){
    color : var(--noti-danger);
}
.newsfeedbutton{
    display: flex;
    justify-content: space-between;
    margin: 0px 10%;
}
.newsfeedbutton-left{
    display: flex;
    margin : 10px 0px;
    align-items: center;
}
.newsfeedbutton-left:first-child i{
    color : var(--noti-danger);
}
.newsfeedbottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newsfeedbottom img{
    width : 40px;
    height: 40px;
    border-radius: 50%;
    margin-top : 10px;
}
.newsfeedbottom-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 90%;
    background-color: var(--semi-dark-light);
    padding : 10px;
    margin-top : 10px;
    border-radius: 40px;
}
.newsfeedbottom-icon{
    display: flex;
    justify-content: end;
}
.newsfeedbottom i{
    padding : 0px 5px;
}
.newsfeedbottom-right input{
    width : 70%;
    background-color: var(--semi-dark-light);
    border : none;
    color : var(--text);
}
.rightbox{
    width : 25%;
}
.rightbox-top{
    display: flex;
    flex-direction: column;
    margin:10px 0px;
    border-radius: 15px;
    background-color: var(--semi-dark-thinlight);
}
.rightbox-top-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 20px 20px 0px 20px;
    position: relative;
}
.rightbox-top-up p{
    position: absolute;
    left : 40px;
}
.rightbox-top-up span{
    position:absolute;
    right : 10px;
    text-align: center;
    line-height: 30px;
    width : 40px;
    height : 40px;
    border-radius: 50%;
}
.rightbox-top-up span:hover{
    background-color: var(--semi-dark-light);
}
.rightbox-top-down{
    display: flex;
    justify-content: center;
    padding : 10px;
    margin : 10px;
    border-radius: 15px;
}
.rightbox-top-down:hover{
    background-color: var(--semi-dark-light);
}
.rightbox-top-down .image{
    width : 40px;
    height : 40px;
    border-radius: 50%;
    margin : 5px;
}
.rightbox-top-downright{
    display: flex;
    flex-direction: column;
}
.rightbox-top-downone{
    display: flex;
    justify-content:space-between;
    margin : 5px 0px;
}
.rightbox-top-downtwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 5px;
}
.rightbox-top-downtwo img{
    width : 20px;
    height : 20px;
    border-radius: 50%;
}
.rightbox-top-down .inner{
    width : 100%;
    padding : 10px;
    background-color: var(--primary);
    margin : 5px;
    border-radius: 15px;
    text-align : center;
}
.rightmiddle{
    margin : 10px 0px;
}
.rightmiddle p:first-child{
    color : var(--text);
    font-weight: bolder;
}
.card{
    display: flex;
    align-items: center;
    padding : 10px;
    border-radius: 15px;
}
.card:hover{
    background-color: var(--semi-dark-thinlight);
}
.card img{
    width : 40%;
    height : 60px;
    border-radius: 15px;
}
.cardtext{
    margin-left : 10px;
}
.rightbottom{
    width : 100%;
}
.pagehead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagehead p{
    padding : 20px 10px 10px 10px;
    font-weight: bolder;
}
.pagehead p:last-child{
    height :40px;
    width :40px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    line-height: 1px;
}
.pagehead p:last-child:hover{
    background-color: var(--semi-dark-light);
}
.page{
    border-radius: 15px;
    display: flex;
    padding : 10px;
    align-items: center;
}
.page:hover{
    background-color: var(--semi-dark-light);
}
.page img{
    width : 40px;
    height: 40px;
    border-radius: 50%;
}





